.card {
    overflow: hidden;
    margin: auto;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.form-control {
    font-size: 14px;
    padding: 2rem;
}

.form-control-no-border {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    padding: 7px 15px;
}

.form-control-no-border:focus {
    background-color: #fff;
    border: none;
    box-shadow: none;
}

/* 日付入力フィールド用スタイル */
input[type="date"].form-control-no-border {
    border-radius: 5px;
    padding: 10px 15px;
    width: 40%;
}

input[type="date"].form-control-no-border:focus {
    background-color: #fff;
    border: none;
    box-shadow: none;
}

.btn-primary-custom {
    background-color: #1366bf !important;
    color: white;
    border: none;
    width: 100%;
    display: 100%;
}

.card .card-body .rounded-form {
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.card-no-border {
    background-color: white;
    border-radius: 5px;
    box-shadow: none;
}

.btn-light {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

.btn-light:hover {
    background-color: #007bff;
}

.rounded-form {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

.form-group {
    margin-bottom: -10px;
}

.card-confirmation {
    border-radius: 5px !important;
    margin-left: 10px;
    margin-right: 10px;

}